@font-face {
   font-family: 'TT Lakes';
   src: url('../fonts/TTLakesCondensed-Medium.eot');
   src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
      url('../fonts/TTLakesCondensed-Medium.eot') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-Medium.woff') format('woff'),
      url('../fonts/TTLakesCondensed-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
} 
body {
   margin: 0;
   width: 320px;
   height: 100%;
   box-shadow: 20px 0 40px 0 #95abb8;
}
.header {
   display: flex;
   padding-top: 23px;
   padding-left: 23px;
   padding-bottom: 45px;
}
.header__burger {
   padding-right: 23px;
}
.header__group {
   padding-right: 75px;
}
.header__button:hover, .footer__button:hover {
   opacity: 0.6;
   transition: opacity 0.4s ease-out;
}
.navigation {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   list-style: none;
   padding-bottom: 60px;
}
.navigation__item {
   padding-bottom: 25px;
   padding-left: 23px;
}
.navigation__link {
   text-decoration: none;
   color: #1B1C21;
   font-family: 'TT Lakes';
   font-size: 16px;
}
.navigation__link:hover, .footer__language-button:hover {
   color: #FF3E79;
   transition: color 0.4s ease;
}
.navigation__link--active, .footer__language-button--active {
   color: #7E7E82;
}
.navigation__item--active {
   padding-left: 0;
}
.navigation__item--active::before {
   content: url(../icons/highlight.svg);
   padding-right: 20px;
   vertical-align: middle;
}
.footer {
   display: flex;
   flex-direction: column;
   padding-bottom: 10px;
}
.footer__icon-list {
   margin: 0;
   padding: 0;
   padding-left: 23px;
   list-style: none;
   display: flex;
}
.footer__icon-item {
   padding-right: 16px;
   padding-bottom: 16px;
}
.footer__contacts {
   display: flex;
   flex-direction: column;
   font-family: 'TT Lakes';
   padding-left: 23px;
   padding-bottom: 20px;
}
.footer__mail {
   text-decoration: none;
   color: #1B1C21;
   font-size: 16px;
   padding-bottom: 12px;
}
.footer__phone-number {
   text-decoration: none;
   color: #1B1C21;
   font-size: 24px;
   font-weight: bold;
}
.footer__language-list {
   margin: 0;
   padding: 0;
   padding-left: 23px;
   display: flex;
   list-style: none; 
}
.footer__language-item {
   padding-right: 7px;
}
.footer__language-button {
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-family: 'TT Lakes';
   font-size: 16px;
   text-transform: uppercase;
}


