@font-face {
   font-family: 'TT Lakes';
   src: url('../fonts/TTLakesCondensed-Medium.eot');
   src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
      url('../fonts/TTLakesCondensed-Medium.eot') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-Medium.woff') format('woff'),
      url('../fonts/TTLakesCondensed-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}
body {
   margin: 0;
}
.aside-menu {
   max-width: 320px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   gap: 45px;
   box-shadow: 20px 0 40px 0 #95abb8;
}
.aside-menu__header {
   display: flex;
   align-items: center;
   padding-top: 23px;
   padding-left: 23px;
}
.aside-menu__header-button, .aside-menu__footer-button {
   padding: 0;
   cursor: pointer;
   border: none;
   background-color: transparent;
}
.aside-menu__close {
   padding-right: 23px;
}
.aside-menu__logo {
   padding-right: 75px;
}
.aside-menu__header-button:hover, .aside-menu__footer-button:hover { 
   opacity: 0.6;
   transition: opacity 0.4s ease-out;
}
.aside-menu__navigation-list {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   gap: 25px;
   padding-left: 23px;
   list-style: none;
}
.aside-menu__navigation-link, .aside-menu__mail, .aside-menu__phone-number { 
   text-decoration: none;
   color: #1B1C21;
   font-family: 'TT Lakes';
   font-size: 16px;
}
.aside-menu__navigation-link:hover, .aside-menu__label:hover { 
   color: #FF3E79;
   transition: color 0.4s ease;
}
.aside-menu__navigation-link--active {
   color: #7E7E82; 
}
.aside-menu__navigation-item--active {
   position: relative;
}
.aside-menu__navigation-item--active::before {
   content: url(../icons/highlight.svg);
   position: absolute;
   top: -3px;
   left: -23px;
}
.aside-menu__footer {
   display: flex;
   flex-direction: column;
   margin-top: auto;
   gap: 15px;
   padding-left: 23px;
}
.aside-menu__footer-list {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   gap: 15px;
}
.aside-menu__contacts {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-bottom: 10px;
}
.aside-menu__phone-number {
   font-size: 24px;
   font-weight: bold;
}
.aside-menu__language-list {
   margin: 0;
   padding: 0;
   display: flex;
   gap: 10px;
   list-style: none; 
   padding-bottom: 20px;
}
.aside-menu__radio {
   appearance: none;
   position: absolute;
}
.aside-menu__text {
   font-family: 'TT Lakes';
   font-size: 16px;
   text-transform: uppercase;
   cursor: pointer;
}
.aside-menu__radio:checked  + .aside-menu__text {
   color: #7E7E82;
}


